.aboutContainer {
  /* border: 1px solid red; */
  height: 120vh;
  margin-top: 20px;
  margin-bottom: 90px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.left {
  /* border: 1px solid blue; */
  flex: 0.7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.aboutBox {
  /* border: 1px solid orange; */
  flex: 0.5;
  display: flex;
}
.aboutImage {
  flex: 0.3;
}
.aboutImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aboutContent {
  flex: 0.7;
}
.contentHeader {
  border-left: 2px solid #057827;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.contentHeader p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #058e07;
}
.contentHeader h3 {
  /* border: 1px solid red; */
  width: 70%;
  font-size: 25px;
  color: #044301;
}
.contentText {
  margin-top: 30px;
}
.contentText p {
  width: 85%;
  font-size: 15px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.missionBox {
  flex: 0.4;
  border-radius: 15px;
  background-color: #e9e7e7;
}
.missionContainer {
  background-color: #e9e7e7;
}

.missionHeader {
  display: flex;
  border: 1px solid rgb(196, 196, 196);
  width: 70%;
  margin: 0 auto;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
}

.headerActive {
  /* color: rgb(252, 164, 0) !important; */
  background-color: #057827;
  border-radius: 8px;
}

.missionHeaderLeft {
  flex: 0.5;
}
.missionHeaderLeft p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: orange;
}

.missionHeaderRight {
  flex: 0.5;
}
.missionHeaderRight p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: orange;
}

.missionText {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.missionText p {
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.right {
  /* border: 1px solid yellow; */
  flex: 0.25;
  /* padding: 10px; */
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }

  .aboutBox {
    display: flex;
    flex-direction: column-reverse;
  }

  .aboutImage {
    padding: 10px;
  }
  .aboutImage img {
    margin-top: 20px;
  }

  .contentHeader p {
    font-size: 13px;
  }

  .contentHeader h3 {
    width: 100%;
    font-size: 20px;
  }
  .contentText {
    display: flex;
    justify-content: center;
  }
  .contentText p {
    text-align: left;
  }

  .missionBox {
    margin-top: 20px;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .missionHeader p {
    font-size: 16px;
    margin-top: 5px;
  }
  .missionText p {
    text-align: left;
  }
  .right {
    margin-top: 30px;
    /* height: 120%; */
  }
}
